*{
margin: 0; padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 120vh;
	background: url("b444.png");
	background-size: cover;
	background-position: center;
}


header {
	
margin-top: inherit;
position: fixed;
top: 15px;
left: 0;
width: 100%;
background: url("../Finalsystem/393749799_2182194932140111_6895382516013188210_n.jpg");
padding: 20px 100px;
display: flex;
justify-content: space-between; 
align-items: center;
z-index: 99;
	
}
.web-start h1 { 
font-size:1.8em;
color:white;
user-select: none;
margin-left: -20px;
margin-top: -15px;

}

.web-start h2 { 
font-size:1.4em;
color: white;
user-select: none;
margin-left: -570px;
margin-top: 35px;

}


.navigation a {
position: relative; 
font-size: 1.1em; 
color: white;
text-decoration: none; 
font-weight: 400;
margin-left: 30px;
font-family: 'Times New Roman', Times, serif;
}

.navigation i {
position: relative; 
font-size: 24px;
min-width: 45px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
color: white;
}


.navigation a::after {
content: '';
position: absolute;
left: 0;
bottom: -6px;
width: 100%;
height: 3px;
background: white;
border-radius: 5px;
transform-origin: right;
transform: scaleX(0);
transition: transform .5s;
}
.navigation a:hover::after {
transform-origin: left;
 transform: scaleX(1);
}

.navigation a i
{
	font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
	font: 'Poppins', sans-serif;
}

.btn {
width: 400px;
height: 45px;
border: 2px solid #fff;
background: url("../Finalsystem/393749799_2182194932140111_6895382516013188210_n.jpg");
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #FFFFFF;
position: absolute;
font-weight: 500;
margin-left: 160px;
margin-top: -20px;
}

.btn1 {
width: 400px;
height: 45px;
background:url("../Finalsystem/393749799_2182194932140111_6895382516013188210_n.jpg");
border: 2px solid #fff; 
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #FFFFFF;
position: absolute;
margin-top: 3.5%;
font-weight: 500;
margin-left: 160px;
}

.btn2 {
width: 400px;
height: 45px;
background: url("../Finalsystem/393749799_2182194932140111_6895382516013188210_n.jpg");
border: 2px solid #fff; 
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #FFFFFF;
position: absolute;
margin-top: 9.5%;
font-weight: 500;
margin-left: 160px;
}


.web-start{
    display: flex;
    align-items: center;
	margin-left: 0px;
}
.logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
.logo-image img{
    width: 85px;
    object-fit: cover;
    border-radius: 50%;
	margin-left: -90px;

}