*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../Registrar/photo1697011175.jpeg");
    background-repeat: no-repeat;
    opacity: unset;
    background-size: cover;
    background-position: center;
}

header {
    margin-top: inherit;
    position: fixed;
    top: 13px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: url("../Registrar/393749799_2182194932140111_6895382516013188210_n.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.web-start h1 { 
    font-size:24px;
    color:#F6E4E5;
    user-select: none;
    margin-left: -40px;
    margin-top: 5px;;
    
    }
    
    .web-start h2 { 
    font-size:22px;
    color:#F6E4E5;
    user-select: none;
    margin-left: -40px;
    margin-top: 3px;
    
    }
    
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    margin-right: -20px ;
}

.navigation svg
{
    
	width: 50px;
	height: 45px;
    
    
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnappoint-popup{
    width: 190px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
 color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnappoint-popup:hover {
    background: #fff;
    color: #162938;

}

.wrapper
{
    display: block;
}

.ticket
{
    width: 400px;
    height: 600px;
    /* margin-left: -650px;
    margin-top: 90px; */
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper .announce
{
    width: 550px;
    height: 650px;
    /* margin-left: -650px;
    margin-top: 90px; */
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    background: url("../Registrar/msg1460567988-1444\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    
}
.requirebtn
{
    justify-content: right;
    flex-flow: column;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 7px;
    margin-left: 200px;
}

.menubtn{

    margin-left: 300px;
    width: 300px;
    height: 50px;
    padding: 10px 10px;
    background: url("../Registrar/393749799_2182194932140111_6895382516013188210_n.jpg");
    background-size: cover;
    border-radius: 10px;
    border: 2px solid white;

}

.input-box
{
    width: 400px;
    height: 450px;
    position: relative;
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.input-box .icon{
    justify-content: left;
    margin-top: -350px;
}

.input-box input
{
    justify-content: left;
    margin-top: -350px;
    margin-left: 5px;
    border: 2px solid #900002;
    width: 250px;
    height: 30px;
    border-radius: 2px;
    padding-left: 20px;
}
.input-box .GET
{
    margin-left: 50px;
    margin-top: 30px;
}
.GET .time
{
    margin-left: -100px;
    justify-content: center;
}
.time .line
{
    margin-left: -270px;
    margin-top: 20px;

}

.tSpan
{
    margin-right: 10px;
    
}

.require
{
    width: 400px;
    height: 450px;
    position: relative;
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    

}

.info
{
    width: 400px;
    height: 450px;
    position: relative;
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;

}

.info .input-b label{
    font-size: 16px;
    font: bold;
    font-weight: 500;
    color: black;
    text-align: left;
    margin-top: -20px;

}
.info .input-b span{

    margin-left: 27px;
    margin-top: -20px;
}


.info .input-b input
{
    height: 42px;
    width: 330px;
    margin: 1px 0;
    border: 1px solid #900002;
    border-radius: 3px;
    background: #e9e7e7;
    align-items: center;
    margin-left: 30px;
    padding-left: 20px;
    
}

.info .input-b input:is(:focus, :valid)
{
    box-shadow: 0 3px 6px rgb(0,0,0,0.13);
}


.form h2
{
    position: relative;
    margin-top: 20px;
    text-align:center;
    font-size: 24px;
    font-weight: 500px;
    color: white;
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}

.form h2::before
{
    content: "";
    position: absolute;
    align-items: center;
    bottom: -3px;
    height: 4px;
    width: 40px;
    border-radius: 8px;
    background-color: #900002;
    
}


.summ
{
    width: 400px;
    height: 450px;
    position: relative;
    background : #F3F3F3;
    border: 4px solid #900002;
    border-radius: 20px;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 200px;
    text-align: center;

}

.summ .logo-image 
{
    display: flex;
    flex-wrap: wrap;

}

.logo-image img{

    margin-top: 10px;
    margin-left: 170px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    max-width: 40%;
    max-height: 40%;
    
}

.logo-image h3{


    margin-top: 10px;
    margin-left: 32px;
    font-size: 19px;
    text-align: center;
    font-family: cursive;
    font-weight: 400;
    margin-bottom: -10px;

}
.summm
{
    width: 570px;
    height: 550px;
    position: relative;
    background : #F3F3F3;
    backdrop-filter: blur(25px);
    box-shadow:0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px;
    text-align: center;

}

.summm .logo-image1 
{
    display: flex;
    flex-wrap: wrap;

}
.summm header
{
    position: fixed;
    margin-top: -13px;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background:#900002 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header .logo-image1 img{

    margin-left: 230px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 70px;
    max-width: 40%;
    max-height: 40%;
}

.logo-image1 h3{


    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    font-family: cursive;
    color: white;
    margin-bottom: 10px;
    margin-left: 50px;

}

.logo-image1 h4{

    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    font-family: cursive;
    color: rgb(56, 54, 54);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.bots #nextButton{
    background: #900002;
    border: 1px solid white;
    border-radius: 8px;
    position: absolute;
    width: 90px;
    height:  40px;
    margin-left: 200px;
    margin-top: 20px;
    color: white;
    margin-left: 500px;

}
.bots #prevButton{
    background: #900002;
    border: 1px solid white;
    border-radius: 8px;
    position: absolute;
    width: 90px;
    height:  40px;
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    margin-left: 400px;

    

}

.bots #finishButton
{
    background: #900002;
    border: 1px solid white;
    border-radius: 8px;
    position: absolute;
    width: 90px;
    height:  40px;
    margin-top: 20px;
    margin-left: 300px;
    color: white;
    margin-left: 500px;
}


.announce .titleannounce
{
    justify-content: left;
    margin-bottom: 150px;
    margin-right: 100px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    font: bold;
    color: white;
    background: #900002;
    width: 450px;
    text-align: left;
    padding-left: 15px;
}

.announce .fw-lightttt
{
    justify-content: center;
    border: 3px solid #900002 ;
    color: #900002;
    width: 500px;
    height: 300px;
    margin-top: -100px;
    text-align: center;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    font-size: 23px;
    padding-left:20px;
    padding-right: 20px;
}

.summ a
{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.summ p
{
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.summm nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
nav p{
    display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.summm div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div li{
    display: flex;
    flex-direction: column;
}

div h1{
    margin-right: 20px;
    color: #000;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* .summm ul 
{
display: inline;
margin-left: 20px;
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.summm h1
{
margin-inline: 20px;
display: inline;
color: #000;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}*/