.appr .btn
{
display: flex;
justify-content: space-between ;
justify-content: space-around;
justify-content: center;
margin-top: 10px;
width: 100%;
margin-bottom: 5px;
}
.appr .btn-outline-info
{
    padding-left: 13px;
}

.reserve
{
    margin-top: 200px;
}

.req
{
    color: #900002;
}

.modal-body
{
    padding: 20px 20px 20px 20px ;
}

.time
{
    display: flex;
    justify-content: space-between;
    margin-left: -50px;
}
  .col-mb-3
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.row  
{
    width: 100%;
    justify-items: center;
}
.row .col-md-6 input
{
    width: 650px;
    margin-left: 20px;
}

.row .col-md-4
{
    margin-top: 20px;
   display: flex;
   justify-content: space-between;

}
.row .col-md-4 label
{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.row .col-md-1
{
    margin-top: 20px;
   display: flex;
   justify-content: space-between;

}
.row .col-md-1 label
{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 45px;
}
.row .col-md-1 input
{
    width: 600px;
}

.row .col-md-4 input
{
    width: 600px;
}

.row .col-md-6 label
{
    margin-top: 20px;
    margin-left: 20px;
    
}

.row .luh
{
 margin-top: 20px;
 justify-content: left;
}

.row .mb-3
{
 width: 1100px;
 margin-left: 35px;
 margin-top: 20px;
}