body{
  background: #eaeaea;
  
}


header {
    position: fixed;
    top: 13px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #900002; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 99;
    }

    .logo {

        font-size: 2em;
        color: #fff;
        user-select: none;
        }
        
        .logo h2
        {
            font-weight: 600;
        }
            
        .navigation a {
        position: relative; 
        font-size: 20px; 
        color: #fff;
        text-decoration: none; 
        font-weight: 500;
        margin-left: 10px;
        margin-right: 30px;
        }
        
        .navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
        }
        
        .navigation a:hover::after {
        transform-origin: left;
         transform: scaleX(1);
        }
        
        .navigation .btnappoint-popup{
        width: 180px;
        height: 50px;
        background: transparent; 
        border: 2px solid #fff; 
        outline: none;
        border-radius: 6px; 
        cursor: pointer;
        font-size: 1.1em; color: #fff; 
        font-weight: 500;
        margin-left: 10px;
        transition: .5s;
        margin-right: 150px;
        }
            
        .navigation .btnappoint-popup:hover {
        background: #fff;
        color: #162938;
            
        }
    
form{
  background: #ffffff;
  margin: 180px auto;
  padding: 15px 40px 40px 40px;
  width: 70%;
  box-shadow: 0 0  2px 2px;
  border: 2px solid#900002;
  border-radius: 3px;
}

.tab p{
  font-size: 20px;
  margin: 0 0 10px 0;
}

input{
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

.purpose input{
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    height: 150px;
    border: 1px solid #aaaaaa;
  }

.index-btn-wrapper{
  display: flex;
}

.index-btn{
  margin: 20px 15px 0 0;
  background: #900002;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.index-btn:hover{
  opacity: 0.8;
}

.step{
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: 0 2px;
  color: white;
  background: #900002;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.25;
}