.dash-content .title
{
    margin-top: -25px;
    margin-left: 10px;
    width: calc(100 / 3 -30px);
}

.dash-content
{
    border: 3px solid #900002;   
    width: 100%;
    height: 50%;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.requirebtn{
    margin-left: 10px;
    width: 170px;
    height: 40px;
    background: #900002;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

.data-title{
    margin-top: 10px;
    margin-left: 5px;
    font:bolder;
    font-size: 22px;
    font-family:Open Sans, sans-serif;
    font-weight: 300px;
}
.data-title .margin
{
    font-size: 18px;
    font-family: cursive;
}
.btn-sm
{
    margin-left: 5px;
    margin-bottom: 5px;
}
.btn-danger
{
    background-color: #900002;
}